/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    width: auto;
    padding: 1rem 0;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.image-viewer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 0;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center; /* Position at the right end */
    padding: 1rem 0;
    background-color: #000000;
    color: #fff;
    margin-right: 2rem;
}

.contact-info {
    text-align: right;
    padding: 1rem 0;
}

.video-section {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.video-player {
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .introduction, .video-section {
        flex-direction: column;
    }

    .contact-info, .video-player {
        width: 100%;
    }
}
